<template>
  <div class="grid-x grid-padding-x grid-margin-y">
    <div class="cell">{{ greeting }}</div>
  </div>
</template>

<script>
import greeting from '~/apollo/queries/greeting'

export default {
  apollo: {
    greeting: {
      prefetch: true,
      query: greeting
    }
  },
  data () {
    return {
      loading: false,
      // posts: []
    }
  },
}
</script>

<style lang="scss" scoped>
  p {
    color: $primary;
  }
</style>

